{% extends "email/_base.html" %}
{% load family_extras notifications_extras %}
{% block title %}{{ occurrence.union.person_a.display_name }} &amp; {{ occurrence.union.person_b.display_name }}'s anniversary{% endblock %}
{% block icon %}
    {% event_icon_url "notifications/img/event-icons/marriage.png" %}
{% endblock %}
{% block icon_alt %}Anniversary{% endblock %}
{% block body %}
    {% if is_late %}
        <p>
            <strong>{{ occurrence.union.person_a.display_name }}</strong>{{ occurrence.union.person_a|with_hebrew_first_name }} &amp;
            <strong>{{ occurrence.union.person_b.display_name }}</strong>{{ occurrence.union.person_b|with_hebrew_first_name }}'s anniversary was
            {{ occurrence.occurrence_date|weekday_naturalday:today }}.
        </p>
    {% else %}
        <p>
            <strong>{{ occurrence.union.person_a.display_name }}</strong>{{ occurrence.union.person_a|with_hebrew_first_name }} &amp;
            <strong>{{ occurrence.union.person_b.display_name }}</strong>{{ occurrence.union.person_b|with_hebrew_first_name }}'s anniversary is {{ occurrence.occurrence_date|weekday_naturalday:today }}!
        </p>
    {% endif %}
    {% include "notifications/email/_parents.html" with person=occurrence.union.person_a %}
    {% include "notifications/email/_parents.html" with person=occurrence.union.person_b %}
    <p class="muted" style="font-size: 14px;">
        {{ occurrence.occurrence_date|hebrew_str }} · {{ occurrence.occurrence_date|date:"l, F j, Y" }}
    </p>
{% endblock %}
