{% extends "email/_base.html" %}
{% load family_extras notifications_extras %}
{% block title %}{{ occurrence.person.display_name }}'s Bar Mitzvah{% endblock %}
{% block icon %}
    {% event_icon_url "notifications/img/event-icons/birth.png" %}
{% endblock %}
{% block icon_alt %}Bar Mitzvah{% endblock %}
{% block body %}
    {% if is_late %}
        <p><strong>{{ occurrence.person.display_name }}</strong>{{ occurrence.person|with_hebrew_first_name }}'s Bar Mitzvah was {{ occurrence.occurrence_date|weekday_naturalday:today }}.</p>
    {% else %}
        <p><strong>{{ occurrence.person.display_name }}</strong>{{ occurrence.person|with_hebrew_first_name }}'s Bar Mitzvah is {{ occurrence.occurrence_date|weekday_naturalday:today }}!</p>
    {% endif %}
    {% include "notifications/email/_parents.html" with person=occurrence.person %}
    <p class="muted" style="font-size: 14px;">
        {{ occurrence.occurrence_date|hebrew_str }} · {{ occurrence.occurrence_date|date:"l, F j, Y" }}
    </p>
{% endblock %}
