{% extends "email/_base.html" %}
{% load family_extras notifications_extras %}
{% block title %}{{ first_person.display_name }} &amp; {{ second_person.display_name }}'s engagement anniversary{% endblock %}
{% block icon %}
    {% event_icon_url "notifications/img/event-icons/marriage.png" %}
{% endblock %}
{% block icon_alt %}Engagement Anniversary{% endblock %}
{% block body %}
    {% if is_late %}
        <p>
            <strong>{{ first_person.display_name }}</strong>{{ first_person|with_hebrew_first_name }} &amp;
            <strong>{{ second_person.display_name }}</strong>{{ second_person|with_hebrew_first_name }}'s engagement anniversary was
            {{ occurrence.occurrence_date|weekday_naturalday:today }}.
        </p>
    {% else %}
        <p>
            <strong>{{ first_person.display_name }}</strong>{{ first_person|with_hebrew_first_name }} &amp;
            <strong>{{ second_person.display_name }}</strong>{{ second_person|with_hebrew_first_name }}'s engagement anniversary is {{ occurrence.occurrence_date|weekday_naturalday:today }}!
        </p>
    {% endif %}
    {% include "notifications/email/_parents.html" with person=first_person %}
    {% include "notifications/email/_parents.html" with person=second_person %}
    <p class="muted" style="font-size: 14px;">
        {{ occurrence.occurrence_date|hebrew_str }} · {{ occurrence.occurrence_date|date:"l, F j, Y" }}
    </p>
{% endblock %}
